.boot {
	position: absolute;
	z-index: 2 !important;
	width: 100%;
	height: 100%;
	background-color: var(--console-background);
	color: var(--console-color);
	font-family: var(--console-font);
	font-size: var(--console-font-size);

	& .boot__scroller {
		z-index: 2;
		position: absolute;
		bottom: 10px;
		left: 10px;
	}

	& .boot__background {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: .1;
		background-image: url(../gfx/logo.png);
		background-repeat: no-repeat;
		background-position: center;
	}
}
