.login {

	&.content--active {
		& .login__box {
			opacity: 1;
			transform: translate(0);
		}
	}

	& .login__background {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #eee;
		background-color: var(--color-main);
		background-image: url(../gfx/background/bg_01.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	& .login__box {
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 40%;
		opacity: 0;
		margin-left: -200px;
		width: 400px;
		display: none;
		text-align: center;
		transform: translate(0 50px);
		transition: 1s;

		&.login__box--active {
			display: block;
		}
	}

	& .login__name {
		color: #fff;
		font-size: 2.5rem;
		font-weight: 100;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
	}

	& .login__area {
		margin-top: 40px;
		display: none;

		&.login__area--active {
			display: block;
		}
	}

	& .login__inputField {
		padding: 0 16px;
		font-size: 1.2rem;
		width: 100%;
		max-width: 300px;
		line-height: 45px;
	}

	& .login__changeUser {
		margin-top: 20px;
		color: #ccc;
		display: none;

		&.login__changeUser--active {
			display: block;
		}
	}

	& .login__changUserBtn {
		color: #fff;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
		text-decoration: underline;
		cursor: default;
	}

	& .login__chooseUserList {}

	& .login__chooseUser {
		width: 100%;
		min-height: 50px;
		background: #fff;
		padding: 10px;
		opacity: 0;
		margin-bottom: 5px;
		transition: .5s;
		transform: translateX(50px);

		&.login__chooseUser--active {
			opacity: 1;
			transform: translateX(0);
		}

		&.login__chooseUser--withImg {
			padding-left: 60px;
		}

		&:hover {
			background-color: #f3f3f3;
		}

		&:last-child {
			margin: 0;
		}
	}

	& .login__changeUserImg {
		position: absolute;
		width: 50px;
		height: 50px;
	}

	& .login__chooseUserName {
		font-size: 1.3rem;
		font-weight: 100;
		color: var(--color-main);
	}

	& .login__chooseUserId {
		font-size: .8rem;
		font-weight: 100;
		color: #ccc;
	}

	& .login__chooseUserType {
		font-size: .7rem;
		color: #ccc;
	}
}
