.register {
	background-color: var(--color-main);
	color: #fff;

	&.register--show {
		opacity: 1;
	}

	& .register__content {
		width: 100%;
		margin: 100px auto 0;
		max-width: 600px;
	}

	& .register__block {
		margin: 10px 0 30px;

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		&.register__block--pwd {
			margin-top: 60px;
		}
	}

	& .register__heading {
		font-weight: 100;
		font-size: 2.3rem;
	}

	& .register__welcomeTxt {
		margin-bottom: 40px;
	}
}
