<!DOCTYPE html>
<html>
	<head>
		{% include('layout/head.html') %}
	</head>
	<body>
		<div id="wrapper">

			<!-- HTML: Boot -->
			{% include('module/boot.html') %}

			<!-- HTML: Register -->
			{% include('module/register.html') %}

			<!-- HTML: Login -->
			{% include('module/login.html') %}

			<!-- HTML: Desktop -->
			{% include('module/desktop.html') %}
		</div>

		<!-- Hidden Programs -->
		<div id="programs">

			<!-- HTML: Terminal -->
			{% include('program/terminal.html') %}

			<!-- HTML: Explorer -->
			{% include('program/explorer.html') %}
		</div>
	</body>
</html>
