.startmenu {
	position: absolute;
	z-index: 2;
	left: 5px;
	display: none;
	bottom: 49px;
	background-color: var(--color-main);
	color: #fff;
	transition: .5s var(--transition-art);

	&.startmenu--active {
		display: block;
	}

	& .startmenu__content {
		padding: 10px;
	}

	& .startmenu__header {
		font-size: 1.2rem;
		font-weight: 100;
		margin: 10px 10px 7px;
		text-transform: uppercase;
	}

	& .startmenu__list {
		min-width: 170px;

		& > li {
			position: relative;
			width: 100%;
			line-height: 40px;
			padding: 0 10px 0 44px;
			transition: .5s var(--transition-art);

			&:hover {
				background-color: var(--color-main-hover);
			}
		}
	}

	& .startmenu__listIcon {
		position: absolute;
		left: 4px;
		top: 4px;
		width: 40px;
		height: 40px;
	}
}
