.taskline {
	position: absolute;
	z-index: 4;
	left: 0;
	bottom: 0;
	width: 100%;
	height: var(--taskline-height);
	background-color: rgba(27, 27, 27, .92);

	& .taskline__start {
		position: absolute;
		left: 0;
		top: 0;
		width: 44px;
		height: 100%;
		opacity: .7;
		line-height: 57px;
		color: #6f6f6f;
		background-color: transparent;
		transition: .3s var(--transition-art);
		color: #fff;

		&:hover {
			color: var(--color-main);
			opacity: 1;
			background-color: rgba(0, 0, 0, .4);
		}
	}

	& .taskline__time {
		position: absolute;
		right: 0;
		top: 0;
		width: 120px;
		height: 100%;
		color: #fff;
		text-align: center;
		background-color: rgba(0, 0, 0, .05);
	}

	& .taskline__timeday {
		font-size: 1rem;
		margin-top: 4px;
	}

	& .taskline__date {
		font-size: .8rem;
		line-height: 15px;
	}

	& .taskline__programArea {
		position: absolute;
		left: 44px;
		top: 0;
		right: 120px;
		height: 100%;
	}

	& .taskline__programOpen {
		float: left;
		height: 100%;
		padding: 0 5px;
	}

	& .taskline__window {
		height: 100%;
		float: left;
		min-width: 50px;
		margin-right: 3px;
		color: #fff;
		border-top: 5px solid var(--color-main);
		transition: .4s var(--transition-art);
		position: relative;

		&.taskline__window--selected {
			background-color: rgba(0, 0, 0, .07);
		}

		&.taskline__window--minimized {
			border-color: transparent;
		}

		&:hover {
			background-color: rgba(0, 0, 0, .1);

			& .taskline__programMenu {
				margin-top: -40px;
				transition: opacity .3s var(--transition-art) 1s;
				opacity: 1;
			}
		}
	}

	& .taskline__showBlock {
		padding: 0 13px;
	}

	& .taskline__programTxt {
		line-height: 35px;
	}

	& .taskline__programMenu {
		position: absolute;
		left: 50%;
		top: 0;
		width: 38px;
		padding: 7px;
		opacity: 0;
		margin: -5px 0 0 -17px;
		background-color: #dedede;

		&:after {
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			left: 50%;
			top: 100%;
			margin: -5px 0 0 -5px;
			background-color: #dedede;
			transform: rotate(45deg);
		}
	}

	& .taskline__programMenuBtn {
		float: left;
		width: 25px;
		height: 25px;
		transition: .4s var(--transition-art);

		& .material-icons {
			line-height: 27px;
		}

		&.taskline__programMenuBtn--close {
			&:hover {
				background-color: var(--color-red);
			}
		}
	}
}
