.window {
	position: absolute;
	left: 10%;
	top: 10%;
	min-width: 100px;
	min-height: 100px;
	width: 550px;
	height: 400px;
	z-index: 99;
	border: 1px solid #e8e8e8;
	background-color: #eee;
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);

	&.window--selected {
		border-color: var(--color-main);
		box-shadow: 0 0 10px rgba(0, 0, 0, .25);
	}

	&.window--minimized {
		opacity: 0;
		animation: window_minimize .4s;
	}

	&.window--reminimized {
		opacity: 1;
		animation: window_reminimized .4s;
	}

	&.window--maximize {
		left: 0 !important;
		top: 0 !important;
		bottom: var(--taskline-height) !important;
		right: 0 !important;
		width: auto !important;
		height: auto !important;
		box-shadow: none;
		border: 0;
	}

	& .window__changeSize {
		position: absolute;
		z-index: 8;

		&[data-position="top"] {
			top: 0;
			left: 0;
			width: 100%;
			height: 5px;
			cursor: n-resize;
		}

		&[data-position="rightTop"] {
			top: 0;
			right: 0;
			width: 5px;
			height: 5px;
			cursor: ne-resize;
			z-index: 9;
		}

		&[data-position="right"] {
			top: 0;
			right: 0;
			width: 5px;
			height: 100%;
			cursor: e-resize;
		}

		&[data-position="rightBottom"] {
			right: 0;
			bottom: 0;
			width: 5px;
			height: 5px;
			cursor: nw-resize;
			z-index: 9;
		}

		&[data-position="bottom"] {
			left: 0;
			bottom: 0;
			width: 100%;
			height: 5px;
			cursor: n-resize;
		}

		&[data-position="leftBottom"] {
			left: 0;
			bottom: 0;
			width: 5px;
			height: 5px;
			cursor: ne-resize;
			z-index: 9;
		}

		&[data-position="left"] {
			left: 0;
			top: 0;
			width: 5px;
			height: 100%;
			cursor: e-resize;
		}

		&[data-position="leftTop"] {
			left: 0;
			top: 0;
			width: 5px;
			height: 5px;
			cursor: nw-resize;
			z-index: 9;
		}
	}

	& .window__header {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		height: 32px;
		background-color: #fff;
		border-bottom: 1px solid #eaeaea;
	}

	& .window__move {
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}

	& .window__title {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		line-height: 31px;
		padding: 0 100px 0 10px;
	}

	& .window__headerRight {
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
		height: 100%;
		width: 99px;
		text-align: right;
	}

	& .window__headerBtn {
		display: block;
		float: left;
		width: 33px;
		height: 100%;
		color: #ccc;
		transition: .4s var(--transition-art);

		&:hover {
			background-color: #eee;
		}

		&.window__headerBtn--close {
			&:hover {
				color: #fff;
				background-color: var(--color-red);
			}
		}

		&.window__headerBtn--mini {
			& .material-icons {
				font-size: 20px;
			}
		}

		&.window__headerBtn--maxminmize {
			& .material-icons {
				font-size: 16px;
			}
		}

		&.window__headerBtn--close {
			& .material-icons {
				font-size: 20px;
			}
		}
	}

	& .window__content {
		position: absolute;
		left: 0;
		top: 32px;
		bottom: 0;
		width: 100%;
	}
}
